node_modules/
package-lock.json
Python/.env
token.pickle
.vscode/settings.json
Youtube_PlayList_token.pickle
service_token.json
Python/build/
Python/dist/
*.pyc
*.spec
credentials.json
*.pickle
*.log
calendar_token.json
*.exe
*.pdb
target/
memo.py
gmail_token.json
drive_token.json
sheet_token.json
instagram_cookies.pkl
cookies.json
