node_modules/
package-lock.json
Python/.env
Calendar_credentials.json
token.json
sheet_credentials.json
drive_credentials.json
token.pickle
.vscode/settings.json
Youtube_PlayList_token.pickle
Python/build/
Python/dist/
*.pyc
*.spec